* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
    background-color: #f4f6f8;
}
h2 {
    font-size: 2.3rem;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: 80%;
    color: 	#111827;
}
h4 {
    font-size: 1.7rem;
    text-align: center;
}
.container > :nth-child(1), .container > :nth-child(2) {
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #d1d5db;
}
.field {
    background-color: #ffffff;
    flex: 1;
    min-width: 300px;
}
.data {
    background-color: #ffffff;
    flex: 2;
    min-width: 400px;
    overflow-y: auto;
    height: 100%;
}
#FieldForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
    height: 100%;
}
#FieldForm label {
    font-size: 1.2rem;
}
#FieldForm input, #FieldForm select{
    width: 100%;
    height: 30px;
    padding: 0px 10px;
    font-size: 1.1rem;
}
#FieldForm button {
    padding: 0px 20px;
    height: 40px;
    font-size: 1.2rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    background-color: #313180;
    color: white;
    cursor: pointer;
}
.data h2 {
    text-align: center;
}
.sort {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 20px;
}
.show, .course {
    display: flex;
    gap: 0.5rem;
}
.show select,.course select {
    outline: none;
}
.search {
    position: relative;
    width: 140px; 
}
.search i {
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    font-size: 12px; 
    color: black;
}
.search input {
    width: 100%;
    padding: 4px 6px 4px 24px; 
    font-size: 14px; 
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}
table {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    border-collapse: collapse;
}
tr, th, td {
    padding: 7px;
    border: 1px solid #d9d9d9;
}
thead th {
    font-size: 1.2rem;
    background-color: #f4f4f4;
}
tbody td {
    height: 100%;
    max-height: 50px;
}
tbody td input, tbody td select{
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
    background: none;
    border: none;
    outline: none;
    text-align: center;
    -webkit-appearance: none; 
    -moz-appearance: none;   
    appearance: none;   
}
tbody tr:hover {
    background-color: #f0f0f0;
    cursor: cell;
}
.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
td button {
    padding: 5px 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
}
td button:hover {
    opacity: 70%;
}
.but {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.updateBut {
    background-color: green;
}
.deleteBut {
    background-color: red;
}
.bottom-field {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px 0px 0px;
}
.bottom-field button {
    padding: 6px 20px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: blue;
    color: white;
    cursor: pointer;
    height: auto; /* Avoid fixed height issues */
    line-height: 1.5;
    transition: background 0.2s ease;
}

.bottom-field button:hover {
    background-color: darkblue;
}
.pagination {   
    display: flex;
    align-items: center;
    gap: 1rem;

}
.pages {
    border: 1px solid black;
    width: 40px;
    padding: 7px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0; 
    top: 0;
    width: 100%; 
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 250px;
    text-align: center;
}
.modal-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 15px;
}
.modal-buttons button {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.headModal {
    display: flex;
    justify-content: center;
}

.xmark {
    position: relative;
    left: 20px;
    cursor: pointer;
}
.arrowSort {
    font-size: 0.8em; 
    line-height: 1;
    position: relative; 
    top: -0.2em;
    right: 0.5em;
    cursor: pointer;
}
#pdf {
    background-color: #4CAF50;
    color: white;
}
#jpg {
    background-color: #f44336;
    color: white;
}
@media (max-width: 768px) {
    .but {
        flex-direction: column;
        gap: 0.2rem;
    }
    td button {
        font-size: .7rem;
        padding: 3px 7px;
    }
}