* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    background-color: #0077B6;
    color: white;
}
.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
.luffy {
    position: relative;
    top: 10vh;
    left: 60vh;
    width: 142px;
    height: 190px;
    background-color: white;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: -50px;
}
.gear2-move1, .gear2-move2, .gear2-move3{
  position: absolute;
  top: 0;
  left: 0;
}
.gear2-move1 {
  animation: gear2-move1 1.5s steps(3) forwards;
  top: -4vh;
  left: -3vh;
}
.gear2-move2 {
  display: none;
  animation: gear2-move2 1s steps(1) forwards;
  top: -32vh;
  left: -59vh;
}
@keyframes gear2-move1 {
    from {
        transform: translate3d(0px, 0, 0);
    }
    to {
        transform: translate3d(-57%, 0, 0);
    }
}
@keyframes gear2-move2 {
    from {
        transform: translate3d(0px, 0, 0);
    }
    to {
        transform: translate3d(-19%, 0, 0);
    }
}
