* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    background-color: #0077B6;
    color: white;
}
.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
.luffy {
    position: relative;
    top: 10vh;
    left: 60vh;
    width: 120px;
    height: 190px;
    background-color: white;
    image-rendering: pixelated;
    background-repeat: no-repeat;
   overflow: hidden;
    padding: -50px;
}
.gear3-move1, .gear3-move2, .gear3-move3{
  position: absolute;
  top: 0;
  left: 0;
}
.gear3-move1 {
  top: -4vh;
  left: -5vh;
}
.gear3-move2 {
  display: none;
  animation: gear3-move2 1.5s steps(2) forwards;
  top: -4vh;
  left: -5vh;
}
.gear3-move3 {
  display: none;
  animation: gear3-move3 1.5s steps(2) forwards;
  top:-117vh;
  left: -5vh;
}
@keyframes gear3-move2 {
    from {
        transform: translate3d(-22%, 0, 0);
    }
    to {
        transform: translate3d(-60%, 0, 0);
    }
}
@keyframes gear3-move3 {
    from {
        transform: translate3d(0px, 0, 0);
    }
    to {
        transform: translate3d(-36%, 0, 0);
    }
}


